<span style="position: fixed; top: 0; right: 50px;">
    Jump To Line (0 - {{fullitems.length - 1}}):
    <input #item (keyup.enter)="jumpTo(item.value)"/>
    <material-button raised (click)="jumpTo(item.value)">GO</material-button></span>
<material-button raised style="position: fixed; bottom: 10px; right: 50px;"
                 (hide)="!showScrollToTopButton"
                 (click)="scrollToTop()">
    Scroll To Top
</material-button>

<div #myWindow style="width: 100%; height: 80vh; margin-top: 10vh; overflow: auto; background-color: #e8fcff; border: 1px solid #242424;"
     (scroll)="showVerticalScroll()"
     id="container">
    <div *ngFor="let i of items" style="color: #242424;" id="el{{i['index']}}" style="margin: 10px;">
        <div style="width: 98%; padding: 1%; background-color: #e7e7e7; border-top-left-radius: 3px; border-top-right-radius: 3px;">
            {{i['index']}}
            <img [src]="image" style="height: 20px;"/>
            <img [src]="image2" style="height: 20px;"/>
            <img [src]="image3" style="height: 20px;"/>
        </div>
        <div style="width: 98%; background-color: white; padding: 1%;">{{i['index']}} - {{i['source']}}</div>
        <input style="width: calc(98% - 4px); background-color: ghostwhite; padding: 1%; margin-right: 1px;" value="{{i['index']}} - {{i['target']}}"
               id="input{{i['index']}}"
               (keyup)="catchKeyEvent($event, i['index'])"/>
    </div>
</div>